@mixin edit_button() {
  position: relative; 
  .views-field-edit-node {
    a {
      @include link_no_underline($color_white, $color_black_transparent);
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px;
      display: block;
      font-size: 0.8em;
      line-height: 1em;
    }
  }
}

@mixin link($color: blue, $background: rgba(0,0,0,0), $color_hover: $color, $background_hover: $background) {
  color: $color;
  background-color: $background;
  
  &:link,
  &:visited {
    color: $color;
    background-color: $background;
  }

  &:active,
  &:focus,
  &:hover {
    color: $color_hover;
    background-color: $background_hover;
  }
}

@mixin link_no_underline($color: blue, $background: rgba(0,0,0,0), $color_hover: $color, $background_hover: $background) {
  @include link($color, $background, $color_hover, $background_hover);
  text-decoration: none;

  &:link,
  &:visited {
    color: $color;
    text-decoration: none;
  }

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

@mixin link_always_underline($color: blue, $background: rgba(0,0,0,0), $color_hover: $color, $background_hover: $background) {
  @include link($color, $background, $color_hover, $background_hover);
  text-decoration: underline;

  &:link,
  &:visited {
    color: $color;
    text-decoration: underline;
  }

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}


// Hide extraneous fields and elements
@mixin hideExceptForAdmin() {
  display: none;
  body.admin & {
    display: revert;
    border: 1px solid red;
  }
}


@mixin underConstruction() {
  content: '';
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 52px;
  z-index: 10;
  background-image: repeating-linear-gradient(-45deg, #ffb101, #ffb101 50px, #222 50px, #222 100px);
  box-shadow: 0 -1px 3px #222;
  overflow: visible;
}