// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';



#map {
  min-height: 500px;
  position: relative;
  width: 100%;
}

#map-inner {
  position: absolute;
  min-height: 500px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

// Resize the map to cover the entire viewport, NOT HTML5 full screen mode.
// Note: on iOS (and possibly Android? Todo: test this.) this is indistinguisabhle.
body.leaflet-full-viewport {
  .flex-column {
    position: relative; // This accommodates the admin menu. (There will still be a scrollbar.)
  }

  main,
  .container,
  .region-sidebar-first, .region-sidebar-second, .region-footer, .region-content,
  .view-locations-on-this-tour-leaflet {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  header,
  .block-system-breadcrumb-block,
  footer {
    display: none;
  }

  .region-content {
    > div {
      display: none;

      &#block-views-block-locations-on-this-tour-leaflet-block-1 {
        > h2 {
          display: none;
        }
        display: block;
      }
    }
  }

  #map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
  }
}
